.navbar.navbar-expand-lg {
  background-color: rgb(64, 86, 161);
}

.navbar.navbar-expand-lg .navbar-nav>li>a {
  background-color: rgb(127, 147, 211);
  display: inline-block;
  font-size: 14px;
  color: black;
}

.navbar.navbar-expand-lg .navbar-nav>li>a:hover {
  font-weight: bolder;
  border: 2px solid white;
}

.navbar.navbar-expand-lg .navbar-nav>li>a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  border: 2px solid white;
}

.navbar.navbar-expand-lg .navbar-nav>.active,
.navbar.navbar-expand-lg .navbar-nav>.active>a,
.navbar.navbar-expand-lg .navbar-nav>.active>a:hover,
.navbar.navbar-expand-lg .navbar-nav>.active>a:focus {
  background-color: rgb(127, 147, 211);
  color: black;
}

.navbar.navbar-expand-lg .dropdown-menu {
  background-color: rgb(127, 147, 211);
}

.navbar.navbar-expand-lg .dropdown-menu>li>a {
  color: white;
}

.navbar.navbar-expand-lg .dropdown-menu>li>a:hover,
.navbar.navbar-expand-lg .dropdown-menu>li>a:focus {
  background: white !important;
  color: black !important;
  font-weight: bold;
}

.navbar.navbar-expand-lg .navbar-nav li.dropdown.open>.dropdown-toggle,
.navbar.navbar-expand-lg .navbar-nav li.dropdown.active>.dropdown-toggle,
.navbar.navbar-expand-lg .navbar-nav li.dropdown.open.active>.dropdown-toggle {
  background: rgb(127, 147, 211);
  color: white;
}

.navbar.navbar-expand-lg .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: white;
}

.navbar.navbar-expand-lg .navbar-brand {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

.searhBar {
  margin-top: 30px;
}

.navbar {
  position: relative;
  min-height: 70px !important;
  margin-bottom: 10px !important;
  border: 1px solid transparent !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}